*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App{
  min-height: 100vh;
  background-color:ivory;
  display: flex;
}
.wrap{
  margin: auto;
  width: 100%;
}
.errorMessage{
  color: crimson;
  font-size: 26px;
  margin: 5px 0;
}

.imgPreview{
  width:300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.hidden{
  display: none;
}
.shown{
  display: flex;
  flex-direction: column;
  position: relative;
}
label{display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 120px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: black;
}
label h1{
  position: absolute;
  top:70px;
  display: flex;
  font-size: large;
  color:cornflowerblue;
  font-weight: 600;
}
.topper img{position: absolute;
  height: 30px;
  width: 35px;
  top: 25px;
  left: 80px;
}
input{
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  border-color: darkgray;
}
.btn{
  margin: auto;
  margin-top: 10px;
  display: flex;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background:burlywood;
}
  
